/*Mise en page trombi*/
#trombinoscope{
    background-color: #F8EEE1;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    row-gap: 30px; 

}
@media screen and (min-width : 768px){
    #trombinoscope {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/*mise en page cards dans trombi*/
.wilderPic{
    width: 191.61px;
    height: 360px;
    background-color: rgba(251, 176, 76, 0.8);
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(188, 182, 182);
    transition: background-color 400ms linear;
}
.wilderCard:hover .wilderPic{
    transform: scale(1.2);
    background-color: black;
}

.wilderCard{
    width: 191.61px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.profileName2{
    display: none;
    width: 80%;   
    
}
/*mise en page name sur card*/
.wilderCard:hover .profileName2{
    display: flex;
    position: relative;
    top: -70px;
    font-family: "Josefin", sans-serif; 
    font-size: 24px;
    color: black;
    text-shadow: #F8EEE1 2px 3px 2px;
    justify-content: center;
}

/*hardSkills*/
.hardSkills{
    display: none;
    position:relative;
    top: -50px;
}


